@import './variables.scss';
@import '../fonts/iconfont.css';

body,
html {
    height: 100%;
    background: #f5f6fa;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
    box-sizing: border-box;
    font-size: 14px;
}


// body {
//     min-height: 800px;
//     min-width: 1200px;
// }

#app {
    min-height: 100%;
    //background: #fff;

}
.clearfix::after {
  clear: both;
  display: block;
  content: "";
  height: 0;
}
.clearfix::before, .clearfix::after {
  display: table;
  content: "";
}
[v-cloak] {
    display: none;
}

/* ============================================================
flex：定义布局为盒模型
flex-v：盒模型垂直布局
flex-1：子元素占据剩余的空间
flex-align-center：子元素垂直居中
flex-pack-center：子元素水平居中
flex-pack-justify：子元素两端对齐
兼容性：ios 4+、android 2.3+、winphone8+
============================================================ */
.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.flex-v {
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-1 {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.flex-align-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.flex-pack-center {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-pack-justify {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.el-container.is-vertical {
    background-color: #fff;
    height: 100%;
    overflow: hidden;
}


.el-footer {
    padding: 0px 10px;
    text-align: center;
}

.el-header-item {
    width: 160px;
    padding-right: 10px;
    text-align: left
}

.el-dialog__body {
    padding-top: 10px !important;
}

.el-header-item.word {
    width: 20px;
    text-align: center;
    padding: 0px;
    line-height: 32px;
    padding-right: 10px;
    font-size: 14px;
}

.el-header-item.btn {
    display: inline-block;
    width: inherit;
}

.el-header-item.select {
    width: 125px;
}

.el-header-item.date {
    width: 140px;
}

.el-header-item.searchbox {
    width: 190px;
}

.el-table {
    color: #333;
    font-size: 14px
}

.el-table thead {
    color: #333;
    font-size: 14px
}

.search-header {}

.search-header .row {
    display: flex;
    align-content: center;
}

.el-footer .el-pagination {
    padding-top: 10px;
}
.l-btn-icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    line-height: 16px;
    position: absolute;
    top: 50%;
    margin-top: -8px;
    font-size: 1px;
}

.l-btn-left {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    vertical-align: top;
    margin-top: -3px;
}

.l-btn-icon-left .l-btn-text {
    margin: 0 6px 0 26px;
}

.l-btn-text {
    display: inline-block;
    width: auto;
    line-height: 16px;
    font-size: 12px;
    padding: 0;
    margin: 0 6px;
    color: #ea6e5a
}

.l-btn-icon-left .l-btn-icon {
    left: 6px;
}

.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
    background-color: #fff;
    border-radius: 4px;
}

.el-pagination__sizes .el-select--mini {
    margin-top: -10px;
}

// .el-button:focus,
// .el-button:hover {
//     background: #fff;
//     border-color: #ea6e5a;
//     color: #ea6e5a
// }

.el-table--border th {
    background-color: #f5f5f5;
}

.el-table--border th.gutter:last-of-type {
    background-color: #f5f5f5;
}

.el-table--small td,
.el-table--small th {
    padding: 7px 0;
}

.el-pagination {
    font-weight: 400;
    text-align: center;
}


.el-table--group {
    border: 1px solid #DBDDE5;
}

.el-table th.is-leaf,
.el-table td {
    border-bottom: 1px solid #DBDDE5;
}

.el-table--border th,
.el-table--border td {
    border-right: 1px solid #DBDDE5;
}

.el-table .caret-wrapper {
    height: 22px;
}

.el-table .sort-caret.ascending {
    top: 0;
}

.el-table .sort-caret.descending {
    bottom: 0px;
}

// class='top-table' border='1'
.flow-form table.top-table {
    border-collapse: collapse;
    border: 1px solid #ccc;
}
.flow-form{
    padding-top:0px !important;
}
// 表格标题p标签
.title-p {
    // text-align: center;

}
// 第一个表格的table标签
.first-tbd {
    border-spacing: 0px !important;
    border-collapse: collapse;
    // margin-bottom: 32px;
    margin-top: 20px;
}
.first-tbd tr{
    border-bottom: none !important;
}
.first-tbd td {
    vertical-align: middle !important;
    border: 1px solid #ccc !important;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    // text-align:left;
    height: 30px;

}
.first-tbd td.title{
    background-color:#f5f5f5;
}

.first-tbd td br{
    display: none;
}
.el-radio__input.is-disabled+span.el-radio__label {
    color: #333;
    cursor: not-allowed;
}

.flow-form .el-table--small td,
.flow-form .el-table--small th {
    padding: 2px 0;
}

// .el-message .el-message__icon,.el-message .el-message__content{
//   color: #FF5722;
// }
.el-input__inner{
  border-color: #DBDDE5;
}
.main-page{
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  .main-container{
    height: 100%;
     display: flex;
     flex-direction: row;
     .logo-img{
       height: 60px;
       text-align: center;
       font-size: 26px;
       font-weight: 700;
       line-height: 60px;
       color: #fff;
       margin-bottom: 12px;
       box-shadow: 0 2px 2px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(30, 66, 84, 0.07), 0px 1px 11px 0 rgba(114, 178, 255, 0.05);
       display: flex;
       align-items: center;
       .logo{
         width: 150px;        
         height: 29px; 
         margin: 0 auto;       
         background-image: url('../assets/admin/logo.png');
         &.small-logo{
           margin: 5px;
           background-image: url('../assets/admin/logo-collaged.png');
         }
         &.logo-collapse{
           width: 48px;
           height: 48px;
           background-size: 100%;
           margin: 5px;
           background-image: url('../assets/admin/logo-collaged.png');
         }
       }
       
     }
    .container-left{
      width: 240px;
      height: 100%;
      transition: width .5s;
      &.isCollapse{
        width: 65px;
      }
      background-color: #060817;
      .el-menu{
        border-right-color: #060817;
      }
      .el-menu-item{
        transition:none;
        outline:none;
      }
    }
    .container-right{
      flex: 1;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      .container-header{
        background-color: #fff;
        height: 60px;
        line-height: 60px;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-shrink: 0;
        position: relative;
        box-shadow:0px 2px 8px 0px rgba(45,46,47,0.15);
        border-bottom: .01rem solid #f1f2f3;
        -webkit-transition: .3s ease all;
        transition: .3s ease all;
        -webkit-box-shadow: 0 4px 6px 0 rgba(85,85,85,0.08), 0 1px 20px 0 rgba(0,0,0,0.07), 0px 1px 11px 0 rgba(0,0,0,0.07);
        -moz-box-shadow: 0 4px 6px 0 rgba(85,85,85,0.08),0 1px 20px 0 rgba(0,0,0,0.07),0px 1px 11px 0 rgba(0,0,0,0.07);
        box-shadow: 0 4px 6px 0 rgba(85,85,85,0.08), 0 1px 20px 0 rgba(0,0,0,0.07), 0px 1px 11px 0 rgba(0,0,0,0.07);

        .sys-title{
          font-size: 24px;
          font-weight: 700;
          padding-left: 20px;
          color:$--font-color;
        }
        .sys-info{
          position: absolute;
          right: 20px;
          display: flex;
          flex-direction: row;
          align-items: center;
          -ms-transform: translateY(-60%);
          .icon{
            width: 24px;
            height: 22px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            margin-left: 20px;
            margin-right: 10px;
            cursor: pointer;
            -webkit-user-select: none;
            outline: none !important;
            &.icon-msg{
              background-image: url('../assets/admin/icon-msg.png');
            }
            &.icon-info{
              background-image: url('../assets/admin/icon-info.png');
            }
            &.icon-change{
              background-image: url('../assets/admin/icon-change.png');
            }
          }
          .myinfo-dd{
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
          }
          .notice-box{
            display: flex;
            flex-direction: row;
            align-items: center;
            height: 60px;
          }
        }
       
      }
      .container-page{
        flex: 1;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        .bread-row{
          height: 40px;
          line-height: 40px;
          padding: 0 15px;
          font-size: 14px;
          display: flex;
          flex-shrink: 0;
          align-items: center;
          .collage-icon{
            width: 30px;
            height: 60px;
            background-size: auto;
            background-position: center center;
            background-repeat: no-repeat;
            cursor: pointer;
            &.left{
               background-image: url('../assets/admin/icon-collage-left.png');
            }
            &.right{
             background-image: url('../assets/admin/icon-collage-right.png');
            }
          }
        }
        .pages-view{
          flex: 1;
          // overflow: hidden;
          margin-bottom: 15px;  
          .mgt30{
            margin-top: 30px;
          }
          .views-content{
            background-color: #fff;
            box-shadow:0px 2px 20px 0px rgba(45,46,47,0.1);
            border-radius: 6px;
            padding: 30px;
            margin-left: 15px;
            margin-right: 15px;
            position: relative;

            .content-row{
              display: block;
              overflow: hidden;
            }
            .views-search{
              margin-bottom: 15px;
              .filter-view{
                padding-top: 10px;
                .filter-item{
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  height: 40px;
                  .el-button--medium{
                    padding: 10px 20px;
                  }
                  .fiter-item-title{
                    width: 100px;
                    text-align: right;
                    &.left{
                      text-align: left;
                    }

                  }
                  .fiter-item-input{
                    flex: 1;
                    display:flex;
                    align-items: center;
                    .diff{
                      padding: 0 5px;
                    }
                    .el-date-editor.el-input, .el-date-editor.el-input__inner{
                      width: auto;
                    }
                  }
                  .el-select-dropdown{
                    width: inherit;
                  }
                }
              }
              .search-btns{
                padding-top: 10px;
              }
            }
            .content-form{
              padding: 20px 0;
            }
          }
        }
      }
    }
  }
}
.el-dropdown-menu{
  .el-dropdown-menu__item{
    .dropdown-row{
      display: flex;
      align-items: center;
      max-width: 200px;
      .name{
        flex: 1;
        white-space:nowrap;
        overflow:hidden;
        text-overflow:ellipsis;
      }

      i{
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: inline-block;
        flex-shrink: 0;
        width:14px ;
        height: 14px;
        margin-right: 10px;  
      }
      i.icon-myinfo{       
        background-image: url(../assets/admin/icon-myinfo.png);
      }
      i.icon-update{       
        background-image: url(../assets/admin/icon-update.png);
      }
      i.icon-logout{       
        background-image: url(../assets/admin/icon-logout.png);
      }
    }
    &:hover{
      i.icon-myinfo{
        background-image: url(../assets/admin/icon-myinfo-active.png);
      }
      i.icon-update{
        background-image: url(../assets/admin/icon-update-active.png);
      }
      i.icon-logout{
        background-image: url(../assets/admin/icon-logout-active.png);
      }
    }
  }
}
.userInfo{
  .el-dropdown-menu__item{
    padding: 0 28px 0 20px !important;
  }
  
}
.cs-table{
  .el-table,.el-table thead{
    color: #3B3F5C;
  }
  .el-table--medium th, .el-table--medium td{
    padding: 8px 0;
  }
  .el-table--border th{
    background-color: #F8FBFF;
  }
  .el-table th.is-leaf, .el-table td{
    border-color: #DBDDE5;
  }
  .el-table--group, .el-table--border{
    border-color: #DBDDE5;
  }
  .el-table--border {
    border-right: none;
    border-bottom: none;
}
  // .el-table--enable-row-hover .el-table__body tr:hover > td{
  //   background-color: #E1ECFF;
  // }
  .el-table--striped .el-table__body tr.el-table__row--striped td{
    background-color: #F8FBFF;
  }
  // .el-table--striped .el-table__body tr.el-table__row--striped:hover td{
  //   background-color: #E1ECFF;
  // }
  .hover-row tr >td{
    background-color: #E1ECFF;
  }
  .table-pagination{
    margin-top:10px;
  }
  .td-link{
    color: $--color-main;
    cursor: pointer;
    &:hover{
      text-decoration: underline;
    }
    
  }
  .td-link + .td-link {
    margin-left: 10px;
}
.font-color{
  &.state1{
    color: #67C23A;
  }
  &.state2{
    color: #FF4343;
  }&.state3{
    color: #8a8a8a;
  } 
}
.key-font-color{
  &.state0{
    color: #8a8a8a;
  }
  &.state1{
    color: #67C23A;
  }&.state2{
    color: #FF4343;
  } 
}
.font-color-label{
  &.state2{
    color: #67C23A;
  }
  &.state1,&.state3{
    color: #FF4343;
  } 
}
.font-color-approve{
  &.state2{
    color: #67C23A;
  }
  &.state1{
    color: $--color-main;
  }
  &.state3{
    color: #FF4343;
  } 
}

}
.el-button:focus, .el-button:hover {
  color: #fff;
  border-color:  $--color-main;
  background-color:  $--color-main;
  opacity: 0.9;
}
.el-button--medium {
  padding: 12px 20px;  
}
.el-message {
  top: 20px !important;
}
.el-button .iconfont{
  margin-right: 10px;
}

.el-button--text:hover, .el-button--text:focus{
  color: $--color-main;
  background-color: #E8F0FF;
  border-color:#E8F0FF ;
  border-radius: 15px;
}
.el-button--text{
  padding: 7px 10px;
}
.el-divider__text{
  color: #3B3F5C;
}
.el-divider{
  border-color:#DBDDE5
}
.cs-table .table-manage{
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateX(-50%);
  display: flex;
  justify-content: center;
  left: 50%;

}
.el-tag + .el-tag{
  margin-left: 10px;
}
// .el-message-box{
//   border: none;
//   border-radius: 0;
//   .el-message-box__title{
//     color: #fff;
//     font-size: 16px;
//   }
// }
// .el-message-box__header{
//   background-color: $--color-main;
// }
.alert-tips{
  display: flex;
  align-items: center;
  justify-content: center;
  .alert-error{
    display: inline-block;
    width: 73px;
    height: 58px;
    margin-right: 10px;
    background-image: url('../assets/admin/alert-error.png');
    background-repeat: no-repeat;
    background-size: contain;
  }
  .alert-warning{
    display: inline-block;
    width: 73px;
    height: 58px;
    background-image: url('../assets/admin/alert-warning.png');
    background-repeat: no-repeat;
    background-size: contain;
  }

}
.roleadd-card{
  min-height: 200px;
  max-height: 500px;
}
.el-tooltip__popper {
  max-width: 500px;
}
.el-tooltip__popper.is-light[x-placement^="top"] .popper__arrow{
  border-top-color: #DBDDE5;
}
.el-tooltip__popper.is-light{
  border-color: #DBDDE5;
}
// .el-button--danger.is-plain{
//   background: #fff;
//   border-color: #FF4343;
//   color: #FF4343;
// }
// .el-button--danger.is-plain:active{
//   background: #FFECEC;
//   border-color: #FF4343;
//   color: #FF4343;

// }
// .el-button--danger.is-plain:hover, .el-button--danger.is-plain:focus {
//   background: #FFECEC;
//   border-color: #FF4343;
//   color: #FF4343;
// }

.iconfont-menu{
  vertical-align: middle;
    margin-right: 5px;
    width: 24px;
    text-align: center;
    font-size: 18px;
}
.pointer{
  cursor: pointer;
}
// 兼容IE10和IE11部分样式
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .el-input--medium{
    .el-input__inner{
      line-height: 28px !important;
    }
  }

  }
// 自定义title提示框样式
  .v-tooltip__content {
    background: #fdfbdd;
    border-radius: 2px;
    color: #333;
    font-size: 12px;
    line-height: 12px;
    padding: 5px 8px;
    position: absolute;
    transition: opacity 0.5s;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
    display: block;
    width: auto;
    white-space: nowrap;
    opacity: 0;
    z-index: 9999;
    top:0;
}


@import './login.scss';